<!--browsing.html-->
<h1 align="center">BROWSING</h1>

<!-- Design Notes -->
<!-- This is the browsing page that the user will access after they provide valid selections
     for the browse page (browse.html). It displays the posts that are found that contain the
     specified criteria based on the selections provided by the user.

     Key Points:
        - Accessed after providing valid information to (browse.html)
        - Displays the posts that match the criteria of the provided information
        - If no posts are found, it's either left blank or a "No Posts Found" will be displayed
-->