<!--browse.html-->
<h1>BROWSE</h1>
<!-- Department -->
<div class="container">
        <div class="form-group">
        <label for="department">Select Department:</label>
        <select class="form-control" id="department">
            <option>Dept 1</option>
            <option>Dept 2</option>
            <option>Dept 3</option>
            <option>Dept 4</option>
        </select>
        </div>
    </form>
    <form role="form">
        <div class="form-group">
            <label for="class">Select Class:</label>
            <select class="form-control" id="class">
                <option>Class 1</option>
                <option>Class 2</option>
                <option>Class 3</option>
                <option>Class 4</option>
            </select>
        </div>
    </form>
</div>