<!--viewpost.html-->
<div ng-controller="appController">
   
    <!-- Will be in a more presentable format -->

   <table st-table ="postlist" class="table table-striped">
        <thread>
            <tr>
                <th>Department</th>
            </tr>
        </thread>
        <tbody>
        <tr ng-repeat ="post in singlepostview">
            <td>{{post.department | uppercase}}</td>
        </tr>

        </tbody>
        <thread>
            <tr>
                <th>Class</th>
            </tr>
        </thread>
        <tbody>

        <tr ng-repeat ="post in singlepostview">
            <td>{{post.class}}</td>
        </tr>

        </tbody>
        <thread>
            <tr>
                <th>Book Title</th>
            </tr>
        </thread>
        <tbody>

        <tr ng-repeat ="post in singlepostview">
            <td>{{post.book.title}}</td>
        </tr>

        </tbody>
        <thread>
            <tr>
                <th>Book Author</th>
            </tr>
        </thread>
        <tbody>

        <tr ng-repeat ="post in singlepostview">
            <td>{{post.book.author}}</td>
        </tr>

        </tbody>

        <thread>
            <tr>
                <th>Book ISBN</th>
            </tr>
        </thread>
        <tbody>

        <tr ng-repeat ="post in singlepostview">
            <td>{{post.book.isbn}}</td>
        </tr>

        </tbody>
        <thread>
            <tr>
                <th>Book Condition</th>
            </tr>
        </thread>
        <tbody>
            <tr ng-repeat ="post in singlepostview">
            <td>{{post.book.condition}}</td>
        </tr>

        </tbody>
        <thread>
            <tr>
                <th>Post Type</th>
            </tr>
        </thread>
        <tbody>

        <tr ng-repeat ="post in singlepostview">
            <td>{{post.postType | uppercase}}</td>
            
        </tr>

        </tbody>
        <thread>
            <tr>
                <th>Price</th>
            </tr>
        </thread>
        <tbody>

        <tr ng-repeat ="post in singlepostview">
            <td>{{post.sell.price | currency}}</td>
        </tr>

        </tbody>
    
        
        <thread>
            <tr>
                <th>Book Trade Title</th>
            </tr>
        </thread>
        <tbody>

        <tr ng-repeat ="post in singlepostview">
            <td>{{post.trade.title}}</td>
        </tr>

        </tbody>

        <thread>
            <tr>
                <th>Book Trade Author</th>
            </tr>
        </thread>
        <tbody>

        <tr ng-repeat ="post in singlepostview">
            <td>{{post.trade.author}}</td>
        </tr>

        </tbody>
        <thread>
            <tr>
               
                <th>Contact Name</th>
                
            </tr>
        </thread>
        <tbody>

        <tr ng-repeat ="post in singlepostview">
            
            <td>{{post.contact.name}}</td>
            
        </tr>

        </tbody>
        <thread>
            <tr>
                <th><font size="5">Contact</font></th>
            </tr>
        </thread>

<!-- Proof of Concept -->
    <!-- Contact Information -->
    <!-- Contact Name -->
    <tr>
    <td>
        <div class="form-group">
        <label class="control-label" for="name">Your Contact Name:</label>
        <div class="controls">
            <input type="text" data-ng-model="user.contact.name" id="name" class="form-control" placeholder="Your Name (Ex: John Doe)" required>
        </div>
    </div>
    </td>
    </tr>
    <!-- Contact E-Mail -->
    <tr>
    <td>
    <div class="form-group">
        <label class="control-label" for="email">Your Contact E-Mail:</label>
        <div class="controls">
            <input type="email" data-ng-model="user.contact.email" id="email" class="form-control" placeholder="Your E-Mail (Ex: john.doe@domain.com)" required>
        </div>
    </div>
    </td>
    </tr>
     <tbody>
     <tr ng-repeat="post in singlepostview">
         <td><button class="btn btn-default" ng-click="email(post.contact.name, post.contact.email, user.contact.name, user.contact.email, post.book.title, post.book.author, post.sell.price, post.trade.title, post.trade.author, post.postType); emailAndRemove(post._id)">E-MAIL SELLER</button></td>
         <!--<td><button class="btn btn-default" ng-click="emailAndRemove(post._id)">Contact Seller</button></td>
         <!--<td><button class="btn btn-default" ng-click="emailAndRemoveTest(post._id)">Contact Seller</button></td> -->
     </tr>
  <!--
     <tr ng-repeat ="post in singlepostview">
         <td><a ng-href = "mailto:{{post.contact.email}}?subject=Testing Book Bodega
         &body=Hello, my name is {{user.contact.name}} and I am interested in your book:
         %0D%0ABook Title: {{post.book.title}}
         %0D%0ABook Author: {{post.book.author}}
         %0D%0AYou can contact me at {{user.contact.email}}, thank you.
         %0D%0AFrom Book Bodega"><font size="5">EMAIL SELLER</font></a></td>
         <!--<td><button class="btn btn-default" ng-click="emailAndRemove(post._id)">Contact Seller</button></td>
         <!--<td><button class="btn btn-default" ng-click="emailAndRemoveTest(post._id)">Contact Seller</button></td>
     </tr>
-->
        </tbody>
   </table>
</div>

<!-- Design Notes -->
<!-- This is the viewposts page that the user will access after they provide valid selections
     for the (makepost.html) page. It displays the specific post information that the user
     provides for their created post. The viewposts page is also accessible when the user selects
     an available post displayed in the (browsing.html) page.

     Key Points:
        - Accessed after providing valid information to (makepost.html)
        - Accessed after clicking on an available post in the (browsing.html)
        - Displays the specific post information that was stored in the database upon creation

            Other Options:

            <td>{{post._id}}</td>
            <td>{{post.postType}}</td>
            <td>{{post.book.title}}</td>
            <td>{{post.book.author}}</td>
            <td>{{post.book.isbn}}</td>
            <td>{{post.sell.price}}</td>
            <td>{{post.contact.name}}</td>
            <td>{{post.trade.title}}</td>
            <td>{{post.trade.author}}</td>
            <td>{{post.contact.email}}</td>
-->