<!DOCTYPE html>
<html ng-app="meetupApp"> 
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

      <!-- Meetups View -->
      <div ng-controller="meetupsController">
      	<!-- double brackets call an angular function or object-->
      	<!--In this instance it returns the length of the  meetups array-->
        <h1>There are {{meetups.length}} meetups</h1>
        <ul>
        	<!--ng-repeat function creates new list items by taking them from a known collection->
          <li ng-repeat="meetup in meetups">
            {{meetup.name}}
          </li>
        </ul>
        <!--createMeetup() called from client controller-->
        <form ng-submit="createMeetup()">
          <input type="text" placeholder="Meetup name" ng-model="meetupName"></input>
          <button type="submit">Add</button>
        </form> 
      </div>
      <!--runs script for angular module-->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
      <!--runs script for angular resource which allows you to create RESTful APIs-->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
      <!--tells the front end it is a web app-->
      <script type="text/javascript" src="/js/app.js"></script>
      <!--connects the client view to the client controller-->
      <script type="text/javascript" src="/js/controllers/meetups-controller.js"></script>
  </body>
</html>

<!-- https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js -->