<!--browse.html-->
<h1 align="center">BROWSE</h1>
<div class="container" ng-controller='appController'>
        <fieldset>
            <!-- Department -->
            <div class="form-group">
                <label for="department">Select Department:</label>
                <select ng-click="getDept()"  ng-options="dept as dept for dept in deptlist" data-ng-model="department" class="form-control" id="department" required></select>
            </div>
            <!-- Class -->
            <div class="form-group">
                <label for="class" ng-show="department!=null">Select Class:</label>
                <select ng-options="class as class for class in classlist" data-ng-model="class" class="form-control" id="class" ng-show="department!=null" required></select>
            </div>

            <!-- Submit -->
            <div class="form-group">
                <input type="submit" class="btn btn-default" ng-show="department && class != null">
            </div>

            <!-- DEBUG Submit -->
            <div class="form-group">
                <a class="btn btn-default" href="#/browsing">DEBUG Submit</a>
            </div>
        </fieldset>
</div>


<!-- Design Notes -->
<!-- The Department select field should be the only field currently on screen during initialization.
     When the user selects a valid department, the Class select field will be displayed/un-hide itself.
     When both a valid Department and Class are selected, the user can hit the submit button to go to the main
     browse page (browsing.html). The Department and Class fields will be populated by the database.

     Key Points:
        - Department and Class fields populated from the database
        - Class Select field hidden until valid Department selected
        - Submit when valid selections are provided for Department and Class fields
        - Prompt user if no selection is made in either field when Submit button is pressed
-->
